/* #164863  #427D9D  #9BBEC8  #DDF2FD */

/* global 비율*/
.header{height: 2%;}
.cf-wrap{display: flex; width: 100%; height: 98%; }
.cf-left{width: 13%; height: 100%; min-width: 150px; border-right: 1px solid #9BBEC8; margin: 0px 0px 0px 20px; }
.cf-right{width: 87%; height: 100%; padding: 0px 0px 0px 0px;}
.footer{height: 0%;}

/* global 글자크기 */
.cf-left{ font-size: 20px;}
.cf-right{ font-size: 20px;}
.cf-right table tbody{ font-size: 16px;}
/*******************************************/
/* left 간격*/
.cf-left .left-title{margin-bottom:20px; font-weight: 600;}
.cf-left ul{margin: 5px 0px 5px 0px; padding: 5px 0px 0px 5px; list-style: none; font-weight: 600;}
.cf-left ul li{margin: 5px 0px 5px 10px; padding: 5px 0px 5px 5px;}

/* left mouse hover */
.cf-left .guide:hover,
.cf-left .base li:hover,
.cf-left .add li:hover{color:#427D9D; background: #F1F1F1; cursor: pointer;}
/* left click */
.cf-left .on{color:#427D9D; background: #F1F1F1;}
/* left click 꺽쇠 */
.cf-left ul.guide,
.cf-left ul.base li,
.cf-left ul.add li{display: flex; justify-content: space-between;}
.cf-left ul span,
.cf-left ul li span{margin-right: 10px;}
/* left complete 체크 */
.cf-left ul li{position:relative;}
.cf-left ul li.ok ::before{content:""; width: 40px; height: 40px;
    background-image: url('../../images/check_01.png'); background-size: 40px 40px; background-repeat: no-repeat;
    display: inline-block; position:absolute; top:-7px; left:-8px;}
/* 체크 못함 list disable  */
.cf-left ul li.disable{color:#CCCCCC}

/*******************************************/
/* right overflow*/
.cf-left {overflow: auto;}
.cf-right {overflow: auto;}

/* right position */
.cf-right{ position: relative; }
.cf-right .cf-content .survey-area{position: fixed;}
.cf-right .cf-content .data-area{position: absolute;}
.cf-right .cf-content .cf-btn-area{position:fixed;}

/* right 공통 */
.cf-right i.mapping{ color:green; font-size:16px; font-weight:600}


/*******************************************/
/* button area */
.cf-right .cf-content .cf-btn-area{z-index: 9; top: 0px; right: 0px; margin-top: 1%; margin-right: 2%; }
.cf-right .cf-content .cf-btn-area{background-color: rgba(0,0,0 ,0.5); border-radius: 10px;}
.cf-right .cf-content .cf-btn-area div{display: inline-block; position: relative;}
.cf-right .cf-content .cf-btn-area .graph-btn::before{
    content: attr(data-hover); position: absolute; z-index: 1;
    bottom: -25px; left: -7px; font-size: 14px; font-weight: 600;
    width: max-content; text-align: center; padding: 5px 5px;
    visibility: hidden; opacity: 0; transition: opacity 0.5s ease-in-out;
}
.cf-right .cf-content .cf-btn-area .graph-btn:hover::before{
    visibility: visible; opacity: 1;
}
/* .cf-right .cf-content .cf-btn-area .exchange-btn::before{
    content: attr(data-hover); position: absolute; z-index: 1;
    bottom: -25px; left: -10px; font-size: 14px; font-weight: 600;
    width: max-content; text-align: center; padding: 5px 5px;
    visibility: hidden; opacity: 0; transition: opacity 0.5s ease-in-out;
}
.cf-right .cf-content .cf-btn-area .exchange-btn:hover::before{
    visibility: visible; opacity: 1;
} */
.cf-right .cf-content .cf-btn-area img{margin: 7px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px; cursor: pointer; border: none;}
.cf-right .cf-content .cf-btn-area img.on{border: 1px solid white; background-color: white;}
.cf-right .cf-content .cf-btn-area img:hover{border: 2px solid rgba(0, 0, 0, 0.5);}


/*******************************************/
/* survey */
.cf-right .survey-area{ background: #F1F1F1; border: 1px solid #9BBEC8; border-left: 0px solid #9BBEC8; 
    width: 59%; min-width: 500px; z-index: 10;
    overflow: auto; max-height: 95%; height: auto;
}

/* survey title */
.cf-right .survey-area .survey-title{padding: 20px; background-color: #427D9D; font-weight: 600; color:white;display:flex; justify-content:space-between;}
.cf-right .survey-area .survey-title a{cursor: pointer;}
/* survey tail*/
.cf-right .survey-area .survey-tail{padding: 20px; font-weight: 600; color:white; display: flex; justify-content: space-between;}
.cf-right .survey-area .survey-tail button.complete{padding: 6px 30px 6px 30px; font-weight: 600; background-color: #427D9D; color: white;
    border: none; border-radius: 10px;}
/* survey content */
.cf-right .survey-area .survey-content{padding: 20px;}
.cf-right .survey-area .survey-content div{margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #9BBEC8;}
.cf-right .survey-area .survey-content div p{margin-bottom: 1px;}

/* survey common 설정 */
.cf-right .survey-area .survey-content p{ margin: 0px; padding: 0px; }
.cf-right .survey-area .survey-content p.question{ font-weight: 600; }
.cf-right .survey-area .survey-content p.question-add{ font-weight: 600; margin-top: 15px;}

.cf-right .survey-area .survey-content p.note{ color:#427D9D; }
/* survey 버튼 */
.cf-right .survey-area .survey-content .btn1{ text-align: right; padding-right: 5px; border:0px; border-bottom: 1px solid black; background: white; width: 130px; border-radius: 3px;}
.cf-right .survey-area .survey-content .btnAdd{padding: 5px 10px 5px 10px; font-weight: 600; background-color: #427D9D; color: white;
    border: none; border-radius: 10px;}
/* survey readonly 버튼 */
.cf-right .survey-area .survey-content .btn1.readonly{ text-align: right; padding-right: 5px; border:0px; border-bottom: 1px solid black; background: #F1F1F1; }
/* survey 라디오 */
.cf-right .survey-area .survey-content .radio-wrap input[type="radio"]{margin-right: 5px;}
.cf-right .survey-area .survey-content .radio-wrap label{margin-right: 20px;}
/* survey table 설정 */
.cf-right .survey-area .survey-content table{width:100%; margin-bottom: 10px;}
.cf-right .survey-area .survey-content .survey-table tr th,
.cf-right .survey-area .survey-content .survey-table tr td{text-align:center; padding:3px; border-bottom: 3px solid white; }
.cf-right .survey-area .survey-content .survey-table tr th img,
.cf-right .survey-area .survey-content .survey-table tr td img{ cursor: pointer;}
.cf-right .survey-area .survey-content .survey-table tr td input{ background: white; border: 0px; width:100%;}
.cf-right .survey-area .survey-content .survey-table tr td input.readonly{ background: #F1F1F1; border: 0px; width:100%;}
.cf-right .survey-area .survey-content table .combo{ background-color: white; width: 100%; border: 0px;}
.cf-right .survey-area .survey-content table .combo.readonly{ background: #F1F1F1; border: 0px; width:100%;}
/* .cf-right .survey-area .survey-content .survey-table tr td input.w50p{ width:50%;}
.cf-right .survey-area .survey-content .survey-table tr td span.w50p{ width:50%;} */
/* survey guide area */
.cf-right .survey-area.guide{min-width: 800px;}
.cf-right .survey-area .guideSubTitleTxt{position:absolute; top:0px; left: 0px; font-weight: 600;}
.cf-right .survey-area .guideTxt{position:absolute; top:0px; left: 0px; background-color: #427D9D; border-radius: 10px;
    padding: 2px 7px; color:white;}
.cf-right .survey-area .guideDetailTxt{font-size: 14px;}
/* 화살표 */
.cf-right .survey-area .arrow1{position:absolute; top:0px; left: 0px; width: 70px; height: 0px; border:2px solid black; border-width: 3px 0px 0px 0px;}
.cf-right .survey-area .arrow1::after { content: ''; position: absolute; top: -8px; right: -11px; border-width: 8px; border-style: solid; border-color: transparent transparent transparent black; }
.cf-right .survey-area .arrow2{position:absolute; top:0px; left: 0px; width: 35px; height: 45px; border:3px solid black; border-width: 0px 3px 3px 0px;}
.cf-right .survey-area .arrow3{position:absolute; top:0px; left: 0px; width: 35px; height: 45px; border:3px solid black; border-width: 0px 3px 3px 0px;}
.cf-right .survey-area .arrow3::after{content: ''; position: absolute; top: -10px; right: -9px; border-width: 8px; border-style: solid; border-color: transparent transparent black transparent; }
.cf-right .survey-area .arrow4{position:absolute; top:0px; left: 0px; width: 35px; height: 45px; border:3px solid black; border-width: 3px 0px 0px 3px; transform: scaleY(-1);}
.cf-right .survey-area .arrow4::after{content: ''; position: absolute; top: -10px; right: -10px; border-width: 8px; border-style: solid; border-color: transparent transparent transparent black; }
/* 화살표 색 */
.cf-right .survey-area span.arrowOrange1{border-color:orange;}
.cf-right .survey-area span.arrowOrange1::after{border-color: transparent transparent transparent orange; }
.cf-right .survey-area span.arrowOrange2{border-color:orange;}
.cf-right .survey-area span.arrowOrange2::after{border-color: transparent transparent orange transparent; }
.cf-right .survey-area span.arrowGreen{border-color:skyblue;}
.cf-right .survey-area span.arrowGreen::after{border-color: transparent transparent transparent skyblue; }
.cf-right .survey-area span.arrowBlue{border-color:violet;}
.cf-right .survey-area span.arrowBlue::after{border-color: transparent transparent transparent violet; }
.cf-right .survey-area span.arrowYellow{border-color:yellowgreen;}
.cf-right .survey-area span.arrowYellow::after{border-color: transparent transparent transparent yellowgreen; }
/* 애니메이션 */
.cf-right .survey-area .ani1{animation: show-ani1 8s infinite; }
@keyframes show-ani1 { 0% { opacity: 0; } 12% { opacity: 1; } 100% { opacity: 1; } }
.cf-right .survey-area .ani2{animation: show-ani2 8s infinite; }
@keyframes show-ani2 { 0% { opacity: 0; } 12% { opacity: 0; } 24% { opacity: 1; } 100% { opacity: 1; } }
.cf-right .survey-area .ani3{animation: show-ani3 8s infinite; }
@keyframes show-ani3 { 0% { opacity: 0; } 24% { opacity: 0; } 36% { opacity: 1; } 100% { opacity: 1; } }
.cf-right .survey-area .ani4{animation: show-ani4 8s infinite; }
@keyframes show-ani4 { 0% { opacity: 0; } 36% { opacity: 0; } 48% { opacity: 1; } 100% { opacity: 1; } }
.cf-right .survey-area .ani5{animation: show-ani5 8s infinite; }
@keyframes show-ani5 { 0% { opacity: 0; } 48% { opacity: 0; } 60% { opacity: 1; } 100% { opacity: 1; } }
/*******************************************/
/* table 테두리 */
.cf-right .data-area { width:98%; margin-left:20px;}
.cf-right .data-area table {border-collapse: collapse; width:100%}
.cf-right .data-area table,
.cf-right .data-area table thead tr,
.cf-right .data-area table thead th,
.cf-right .data-area table tbody tr,
.cf-right .data-area table tbody td{border: 1px solid #c7cdd6;}
/* table head 배경 */
.cf-right .data-area table thead tr,
.cf-right .data-area table thead th{text-align: center; background: #DDF2FD; font-weight: 600;}

 /* table tbody */
 .cf-right .data-area table tbody tr,
 .cf-right .data-area table tbody td{text-align: right;}

/* table tbody 맨 각 왼쪽셀 */
.cf-right .data-area table tbody tr td:nth-child(1){text-align: center; background: #DDF2FD; font-weight: 600;}

/* table tbody sum */
.cf-right .data-area table tbody tr td.sum{font-weight: 600;}
/* table tbody gap */
.cf-right .data-area table thead tr th.gap,
.cf-right .data-area table tbody tr td.gap{background-color: white; border-top: 1px solid white; border-bottom: 1px solid white; }

/* table tbody minus */
.cf-right .data-area table tbody tr td.minus{color:red;}

/***************************************************************************************/
/* chart */
.cf-right .data-area .chart-btn{display: flex; justify-content: center; margin-top: 10px;}
.cf-right .data-area .chart-btn>div{margin: 0px 20px;}
.cf-right .data-area .chart-btn input{padding-right: 5px; border:0px; border-bottom: 1px solid black; background: white; }
.cf-right .data-area .chart-btn button{margin-top: 5px; padding: 6px 30px 6px 30px; font-weight: 600; background-color: #427D9D; color: white; border: none; border-radius: 10px;}




